#timer-input-container{
    text-align: center;
}
h2{
    margin: 0;
}

#title{
    background-color: #6c7194;
}

.center, #startTimer{
    text-align: center;
}

body{
    width: 220px;
    height: 185px;
    margin: 0;
    background-color: #D28AA0;
}

