body{
    align-content: center;
    width: 412px;
    height: 346px;
    margin: 0;
    background-image: linear-gradient(#F4C4BD,#F4C4BD,#c4788f);
}

#title{
    height: 20%;
    text-align: center;
    display: table-cell;
    width: 412px;
    height: 45px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 23px;
    color: #302225;
    border-bottom: black;
    border-bottom-width: 1%;
    background-color: #b5beff
}

#to-options-page{
    position: absolute;
    top: 12px;
    right: 12px;
}

#main-body{
    background-image: linear-gradient(#F4C4BD,#F4C4BD,#c4788f);
    margin-bottom: 0;
    height: 89%;
}

#feature-title{
    margin: 0%;
    font-size: 20px;
}

#timer-body-container{
    width: 412px;
    margin-top: 10%;
    text-align: inherit;
}

#timer-input-container{
    width: 412px;
    margin-left: 8%;
}

#timer-input-label{
    display: inline-block;
    text-align: left;
    margin-right: 6%;
    font-size: 13pt;
    font-weight: 400;
}

#timer-input{
    border-radius: 9px;
    border: 0px solid #609;
    padding: 14px;
    height: 10px;
    width: 54px;
    font-size: 15px;
}

#timer-input:hover + #mins-label{
    display: none;
}

#timer-input:focus{
    outline-width: thick;
}

#timer-input:focus + #mins-label{
    display: none;
}

#mins-label{
    margin-left: -11%;
    font-size: 14px;
}

#count-down{  
    font-size: 35pt;
}

#submit-button-container{
    margin-top: 9%;
    justify-content: center;
    display: flex;
}

#startTimer, #block-button{
    margin-left: 41px;
    border-radius: 100px;
    background-color: #644131;
    border: none;
    color: white;
    padding: 10px 33px;
    font-size: 22px;
    transition-duration: 0.4s
}

#startTimer:hover{
    background-color: #bf6f4b;
}

.center, #startTimer{
    text-align: center;
}

.parent {
    text-align: center;
  }
  .child {
    display: inline-block;
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    font-size: 13pt;
    font-weight: 400;
  }